<div class="we-registration-form">
    <div class="we-registration-form__gerForm">
        <h2>Registration</h2>
        <input type="email" placeholder="Email: example@mail.com" class="we-reg-field" id="we-email"/>
        <input type="text" placeholder="First Name: John" class="we-reg-field" id="we-first-name"/>
        <input type="text" placeholder="Last Name: Heart" class="we-reg-field" id="we-last-name"/>
        <input type="password" placeholder="Password: at least 6 symbols" class="we-reg-field" id="we-pass"/>
        <input type="password" placeholder="Confirm password" class="we-reg-field" id="we-conf-pass"/>
        <input type="button" value="Submit" class="we-reg-submit" id="we-send-registration"/>
    </div>
</div>