<div class="we-start-page">
    <div class="we-start-page__menu">
        <ul class="we-menu">
            <li class="we-menu__item" id="we-register">
                <div class="we-menu__item-logo-registration"></div>
                <div class="we-menu__item-description">
                    <h4>Registration</h4>
                    <p>Registration is a chance for You to try creating document, to give You opportunity to build good reporting.</p>
                </div>
            </li>
            <li class="we-menu__item" id="we-login">
                <div class="we-menu__item-logo-login"></div>
                <div class="we-menu__item-description">
                    <h4>Login</h4>
                    <p>Let's login! And let's start to work!</p>
                </div>
            </li>
            <li class="we-menu__item" id="we-help-info">
                <div class="we-menu__item-logo-help"></div>
                <div class="we-menu__item-description">
                    <h4>Help Info</h4>
                    <p>Let's try to find an answer on Your question! There is a lot of useful information here.</p>
                </div>
            </li>
        </ul>
    </div>
</div>