html,
body,
.we-container{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.we-container__header{
    height: 100px;
    background: #c7c7c7;
}

.we-container__body{
    height: calc(100% - 100px);
    background: #e7e7e7;
}

.we-message__background,
.we-dialog__background,
.we-formbox__background{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: RGBA(0, 0, 0, .3);
}

.we-message__body,
.we-dialog__body,
.we-formbox__body{
    position: absolute;
    left: calc(50% - 150px);
    top: 150px;
    width: 300px;
    min-height: 100px;
    background: #e7e7e7;
}

.we-message__header,
.we-dialog__header,
.we-formbox__header{
    height: 30px;
    border-bottom: 1px solid #d7d7d7;
    padding: 0 10px;
}

.we-message__title,
.we-dialog__title,
.we-formbox__title{
    font-family: Arial;
    font-size: 16px;
    font-weight: 700;
    line-height: 30px;
}

.we-message__text,
.we-dialog__text{
    font-family: Arial;
    font-size: 12px;
    font-weight: 400;
    max-height: 250px;
    overflow: auto;
    margin: 10px;
}

.we-message__close,
.we-dialog__close,
.we-formbox__close{
    float: right;
    margin: 7px 0;
    opacity: 0.2;
}

.we-message__close:hover,
.we-dialog__close:hover,
.we-formbox__close:hover{
    cursor: pointer;
    opacity: 1.0;
}

.we-dialog__button-box,
.we-formbox__button-box{
    height: 30px;
    border-top: 1px solid #d7d7d7;
    font-size: 0;
    padding: 0;
}

.we-dialog__buttons,
.we-formbox__buttons{
    border-radius: 0;
    float: right;
    border: 1px solid #777777;
    margin: 7px 5px;
    width: 70px;
}

.we-dialog__buttons:hover,
.we-formbox__buttons:hover{
    cursor: pointer;
    box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
}

.we-dialog__buttons:first-of-type,
.we-formbox__buttons:first-of-type{
    margin-right: 10px;
}

.we-doc-grid{
    height: calc(100% - 50px);
    overflow: auto;
    border: 1px solid #777777;
    box-sizing: border-box;
}

.we-doc-footer{
    height: 50px;
    background: #d7d7d7;
}

.we-grid-sheet-body{
    display: none;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.we-grid-sheet-body-active{
    display: block;
}

.we-grid-sheet-label{
    position: relative;
    top: -1px;
    display: inline-block;
    min-width: 80px;
    line-height: 30px;
    text-align: center;
    height: 30px;
    background: #f7f7f7;
    border: 1px solid #777777;
    border-left: none;
    vertical-align: top;
}

.we-grid-sheet-label:hover{
    cursor: pointer;
}

.we-grid-sheet-label:first-of-type{
    margin-left: 10px;
    border-left: 1px solid #777777;
}

.we-grid-sheet-label-active{
    height: 35px;
    font-weight: 700;
    top: -1px;
    border-top: none;
    background: #e7e7e7;
}

.we-sheet-add-button{
    position: relative;
    top: -1px;
    display: inline-block;
    height: 30px;
    width: 30px;
    border: 1px solid #777777;
    border-left: none;
    background: url('../images/add-sheet.png') no-repeat center center;
}

.we-sheet-add-button:hover{
    cursor: pointer;
}

.we-header__add-document{
    display: inline-block;
    width: 32px;
    height: 32px;
    background: url('../images/main-menu/new_doc.png') no-repeat center center;
    margin: 4px 0;
}

.we-header__open-document{
    display: inline-block;
    width: 32px;
    height: 32px;
    background: url('../images/main-menu/open_doc.png') no-repeat center center;
    margin: 4px 0;
}

.we-header__add-document:hover,
.we-header__open-document:hover,
.we-header__save-document:hover{
    cursor: pointer;
    background-color: #777777;
}

.we-formbox-panel{
    margin: 10px;
}

.we-formbox-field-label,
.we-change-name-label,
.we-color-picker-label{
    font-size: 12px;
    font-family: Arial;
}

.we-formbox-field-input{
    float: right;
}

.we-header__save-document{
    display: inline-block;
    width: 32px;
    height: 32px;
    background: url('../images/main-menu/save_doc.png') no-repeat center center;
    margin: 4px 0;
}

.we-grid-sheet-body-grid{
    display: inline-block;
    width: 2600px;
    table-layout: fixed;
    border-collapse: collapse;
}

.we-row{

}

.we-cell{
    width: 100px;
    height: 20px;
    border: 1px solid #777777;
    overflow: hidden;
}

.we-cell-main{
    background: url('../images/icons/southeast-arrow.png') #c7c7c7 no-repeat bottom right;
}

.we-cell-row-head{
    width: 50px;
    height: 20px;
    border: 1px solid #777777;
    border-left: none;
    overflow: hidden;
    background-color: #c7c7c7;
}

.we-cell-col-head{
    border: 1px solid #777777;
    border-top: none;
    overflow: hidden;
    background-color: #c7c7c7;
}

.we-cell-input{
    margin: 0;
    height: 20px;
    width: 100%;
    box-sizing: border-box;
    border: none;
    border-radius: 0;
}

.we-cell-input:hover{
    cursor: default;
}

.we-cell-input-active{
    background-color: #79ABED;
}

.we-cell-input-oninput{
    background-color: white;
}

.we-header__mainMenu{
    height: 40px;
    margin: 0 10px;
    font-size: 0;
}

.we-header__settingsMenu{
    height: 30px;
    margin: 0 10px;
    border-bottom: 1px dashed #777;
    border-top: 1px dashed #777;
    box-sizing: border-box;
}

.we-header__expBody{
    height: 30px;
}

.we-expBody{
    height: 100%;
    margin: 0 10px;
    font-size: 0;
}

.we-formulaBtn{
    width: auto;
    height: 24px;
    box-sizing: border-box;
    margin: 3px 0;
    border: 1px solid #777777;
    border-right: none;
    background: #a7a7a7;
    font: 700 italic 12px Arial;
}

.we-formulaField{
    width: 510px;
    height: 24px;
    box-sizing: border-box;
    margin: 3px 0;
    vertical-align: top;
    border: 1px solid #777777;
    border-left: none;
    padding: 0 0 0 10px;
}

.we-rangeField{
    height: 24px;
    width: 100px;
    margin: 3px 5px 3px 0;
    box-sizing: border-box;
    border: 1px solid #777777;
}

.we-sheet-label-contextmenu{
    display: inline-block;
    min-height: 150px;
    height: auto;
    width: 136px;
    background: #d7d7d7;
    border: 1px solid #777777;
}

.we-color-picker-cell{
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 1px;
}

.we-color-picker-cell:hover{
    cursor: pointer;
}

.we-color-picker-default-btn,
.we-change-name-btn{
    border-radius: 0;
    border: 1px solid #777777;
    margin: 1px;
    width: calc(100% - 2px);
}

.we-color-picker-default-btn:hover,
.we-change-name-btn:hover{
    cursor: pointer;
    box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
}

.we-color-picker-tab{
    width: 100%;
    font-size: 0;
    margin: 0;
    padding: 0;
    list-style: none;
}

.we-color-picker,
.we-change-name{
    display: none;
    margin: 2px;
    border-bottom: 1px solid #e7e7e7;
}

.we-change-name-field{
    display: block;
    margin: 0 1px 2px;
    width: calc(100% - 2px);
    box-sizing: border-box;
}

.we-contextmenu-container{
    position: relative;
    height: 100px;
    padding: 2px;
}

.we-contextmenu-item{
    line-height: 20px;
    font-size: 12px;
    font-weight: 700;
    font-family: Arial;
    padding: 0 0 0 5px;
    height: 20px;
    margin: 1px;
    background: #C7C7C7;
}

.we-contextmenu-item:hover{
    background: #A7A7A7;
    cursor: pointer;
}

.we-contextmenu-submenu{
    position: absolute;
    left: 137px;
    top: -1px;
    height: auto;
    width: 136px;
    background: #d7d7d7;
}

.we-settingsMenu__bold,
.we-settingsMenu__color,
.we-settingsMenu__textAlign,
.we-settingsMenu__borderThick,
.we-settingsMenu__borderColor,
.we-settingsMenu__borderType,
.we-settingsMenu__backgroundColor{
    display: inline-block;
    vertical-align: top;
    width: auto;
    height: 30px;
}

.we-settingsMenu__bold-title,
.we-settingsMenu__color-title,
.we-settingsMenu__textAlign-title,
.we-settingsMenu__borderThick-title,
.we-settingsMenu__borderColor-title,
.we-settingsMenu__borderType-title,
.we-settingsMenu__backgroundColor-title{
    vertical-align: top;
    height: 30px;
    line-height: 30px;
    font-family: Arial;
    font-size: 12px;
    font-weight: 700;
}

.we-settingsMenu__bold-select,
.we-settingsMenu__color-select,
.we-settingsMenu__borderThick-select,
.we-settingsMenu__borderColor-select,
.we-settingsMenu__borderType-select,
.we-settingsMenu__backgroundColor-select{
    vertical-align: top;
    margin: 5px;
    height: 20px;
    box-sizing: border-box;
}

.we-settingsMenu__underline,
.we-settingsMenu__italic,
.we-settingsMenu__textAlign-left,
.we-settingsMenu__textAlign-center,
.we-settingsMenu__textAlign-right{
    display: inline-block;
    height: 24px;
    width: 24px;
    margin: 2px 5px 2px 0;
}

.we-settingsMenu__underline:hover,
.we-settingsMenu__italic:hover,
.we-settingsMenu__textAlign-left:hover,
.we-settingsMenu__textAlign-center:hover,
.we-settingsMenu__textAlign-right:hover{
    cursor: pointer;
    background-color: #777777;
}

.we-settingsMenu__underline{
    background: url('../images/sheet-menu/underline-icon.png');
}

.we-settingsMenu__italic{
    background: url('../images/sheet-menu/italic-icon.png');
}

.we-settingsMenu__textAlign-left{
    background: url('../images/sheet-menu/text-align-left.png');
}

.we-settingsMenu__textAlign-center{
    background: url('../images/sheet-menu/text-align-center.png');
}

.we-settingsMenu__textAlign-right{
    background: url('../images/sheet-menu/text-align-right.png');
}



















